@layer page {
    #app-header {
        position: relative;
    }

    #header-profile-wrapper {
        text-align: center;
    }

    #header-profile-wrapper h1 {
        margin: 10px 0px 12px 0px;
    }

    #header-profile-top-right {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 16px;
    }
}